openapi: 3.0.3
info:
  title: SDK5 API
  description: API of SDK5 application
  contact:
    name: SDK.finance
    url: https://sdk.finance
    email: administrator@sdk.finance
  license:
    name: SDK.finance license
    url: https://sdk.finance
  version: v2.54.19
servers:
  - url: https://api-back.sdk.finance/api
    description: Core API server
tags:
  - name: User Activity
    description: Compliance Monitoring
  - name: Agreement document management
    description: >-
      This API set allows users to manage agreement documents.
  - name: API list
    description: >-
      This API set provides users with information about all endpoints, the permissions required to call them, and the roles that have these permissions.
  - name: Application properties
    description: >-
      This API set enables the management of certain application properties that need to be configured at the system level.
  - name: Authorization
    description: >-
      The SDK.finance APIs use a Bearer access token to authenticate requests. <h3>Generate access token</h3> To get access token use `POST /authorization` API. Sample credentials are provided in the API description. <h3>Refresh access token</h3> In order to refresh an access token use refresh token and call `PUT /authorization` API. <h3>Using access token</h3> Once you obtain the access token it can be used to access other SDK.finance APIs.  <br>Token should be provided in the `Authorization` header: `Authorization: Bearer {{token}}`  or `-H 'Authorization: Bearer {{token}}'`  for `curl` <br>If you use swagger, provide the received token in the `BearerAuth` value. <br><br><b>All SDK.finance APIs can be called by authorized users with appropriate permissions, unless otherwise specified in the API description. <br>To check permissions and which roles have these permissions, call API:</b> <code>GET /api-list</code>.
  - name: Available IP
    description: >-
      Use this API set to white-list IPs for access by the specified roles.  <br>If the white list is empty access is allowed from any IP.  <br>If the white list is not empty access is allowed only from the IP specified in the list.
  - name: Bank accounts management by business roles
    description: >-
      Business user (<b>Individual</b>, <b>Merchant</b>) is able to view and manage their bank accounts.  <br>Bank account is linked to the in-system account and should be created to perform the following operations with in-system accounts: <ul> <li>Top-up in-system account from bank account</li> <li>Transfer from in-system account to bank account</li> </ul> <br>If bank account is created by business user it should be approved by compliance so that it can be used. <br>To support business case when users do not have their personal bank account, pool bank account can be created by service user and can be used for top-up operation.
  - name: Bank accounts management by service roles
    description: >-
      User with service role is able to manage bank accounts on behalf of business users if it is required.  <br>To support business case when users do not have their personal bank account, pool bank account can be created by service user and can be used for top-up operation.  <br>Compliance should approve bank account created by business user so that it can be used.
  - name: Bank catalog management
    description: >-
      To be able to create a bank account and link it to the system account bank should be added to the system, first.  <br>It is possible to create banks one by one or to upload a list of banks in the defined format.
  - name: Business request management
    description: >-
      Use this API set to view, confirm, or decline requests to perform an operation if required.<br> It also allows repeating or rejecting an operation that was declined due to limit exceedance.<br> Management of business requests is permission-based.<br> To manage a specific business request type, the caller must have the corresponding Permission.<br> <b>Permissions by business request type:</b> <ul> <li><code>BUSINESS_REQUEST_EXCHANGE_RESERVE_TOP_UP</code> — Exchange Reserve Top-up </li> <li><code>BUSINESS_REQUEST_EXCHANGE_RESERVE_WITHDRAWAL</code> — Exchange Reserve Withdrawal </li> <li><code>BUSINESS_REQUEST_BANK_TOP_UP</code> — Top-up via Bank</li> <li><code>BUSINESS_REQUEST_BANK_WITHDRAWAL</code> — Withdrawal via Bank</li> <li><code>BUSINESS_REQUEST_CASH_DESK_CHARGE</code> — Top-up via Cash Desk</li> <li><code>BUSINESS_REQUEST_CASH_DESK_WITHDRAWAL</code> — Withdrawal via Cash Desk</li> <li><code>BUSINESS_REQUEST_CASH_DESK_INVESTMENT</code> — Cash Desk Deposit</li> <li><code>BUSINESS_REQUEST_CASH_DESK_COLLECT</code> — Cash Desk Output</li> <li><code>BUSINESS_REQUEST_CASH_DESK_INPUT</code> — Cash Desk Input</li> <li><code>BUSINESS_REQUEST_TRANSFER</code> — Transfer</li> <li><code>BUSINESS_REQUEST_CURRENCY_EXCHANGE</code> — Currency Exchange</li> <li><code>BUSINESS_REQUEST_GATE_CARD_ATTACHMENT</code> — Provider Card Attachment</li> <li><code>BUSINESS_REQUEST_GATE_TOP_UP</code> — Top-up via Provider</li> <li><code>BUSINESS_REQUEST_GATE_WITHDRAWAL</code> — Withdrawal via Provider</li> <li><code>BUSINESS_REQUEST_GATE_PURCHASE</code> — Purchase via Provider</li> <li><code>BUSINESS_REQUEST_GATE_ISSUE_CARD</code> — Issue Card via Provider</li> <li><code>BUSINESS_REQUEST_GATE_TOKENIZATION</code> — Provider Tokenization</li> <li><code>BUSINESS_REQUEST_MERCHANT_PAYMENT_CASHBACK</code> — Merchant Payment Cashback</li> <li><code>BUSINESS_REQUEST_MERCHANT_INVOICE_CASHBACK</code> — Merchant Invoice Cashback</li> </ul>
  - name: Callback settings for non-merchant operations
    description: Callback Settings Controller
  - name: Card controller
    description: Card Controller
  - name: Cart Templates
    description: Cart Templates
  - name: Cash desk - cash management
    description: >-
      Cash management for the cash desks is used to handle balances required for everyday cash desk operations.  <br>All cash management operations are initiated by the accountant and should be accepted by the cashier using the request ID received in the initiation response.  <br>There are the following system operations related to the cash management: <ul> <li><b>Cash desk deposit</b> - put cash in the cash desk. Method issues funds within the SDK.finance system and increases the selected cash desk account balance.  This balance later can be used for withdrawals or transfers to other cash desks.  The cashier enters the received from the accountant request ID, checks that all information is correct and completes the process.</li> <li><b>Cash desk output</b> - is one of two operations that allow the transfer of cash between cash desks:  this operation performs transfer from the cash desk account to a special reserve account.  Reserve account shows the amount of money which is being transferred from one cash desk to another.  The cashier enters received from the accountant request ID, checks that all information is correct and completes the process.</li> <li><b>Cash desk input</b> - is one of two operations that allow the transfer of cash between cash desks.  This operation performs transfer from the reserve account to the cash desk account.  The cashier enters received from the accountant request ID, checks that all information is correct and completes the process.</li> </ul>
  - name: Cash desk - working day management
    description: >-
      For working with cash desk it is required to manage working days: view current day status, open or close working day.  <br>Cash Desk working day is the day during which cash operations are possible. If the working day is closed operations with cash desk are not allowed. <br>User with the appropriate permissions is able to open working day and initiate closing of working day.  <br>Closing of the working day should be confirmed by another user with the appropriate permissions.
  - name: Cash desk management
    description: >-
      Use this API set for cash desk management. <br>Cash desk is created automatically when a cashier is created in the system. <br>To create a cashier, use API <code>POST /v1/users</code> with the role <b>Cashier</b>. <br>The list of currencies available in the cash desk is defined at the moment of its creation  and includes all currencies existing in the system at that time.
  - name: Cash desk operations
    description: >-
      This API set allows users to view cash desk operations.
  - name: Company management
    description: >-
      Business user with the role <b>Individual</b>, who has passed the new KYC verification and is approved by compliance can create companies. <br>To proceed with the company onboarding process, the following steps are required: <ul> <li>Fill in the company information using APIs from the <b>Organization Profile Management</b>.</li> <li>Add company representatives using APIs from <b>Company Representative Management</b>.</li> <li>Add shareholders using APIs from <b>Company Shareholder Management</b>.</li> <li>Upload company documents and shareholder documents using APIs from <b>Organization Profile Document Management</b>.</li> </ul> <br>After all required information is provided and the documents are uploaded, the user can submit the company for compliance review. <br>Once the company is approved by compliance, the user can open accounts for the company and perform transactions.
  - name: Company shareholder management
    description: >-
      Company shareholder management
  - name: Company representative management
    description: >-
      Company representative management
  - name: Contract Fees
    description: >-
      Use this API set to view fees associated with contracts. This includes retrieving detailed information about monthly fees for specific contracts.
  - name: Contract management
    description: >-
      <b>Contract</b> is linked to the user organization and determines the following set of rules: <ul> <li>allowed transaction types in each available currency</li> <li>fees for each transaction type in each currency</li> <li>limits for each transaction type in each currency</li> <li>available products from 3rd party provider (integration with the provider is required)</li> <li>available providers for external transactions (integration with the provider is required)</li> </ul> <br>Only active contracts can be assigned to the users.  <br>The contract consists of: <ul> <li><code>Fee profiles</code> -  define transaction types for applying fees and if operation is allowed or not</li> <li><code>Fee rules</code> - are linked to the fee profile and define period of fee validity</li> <li><code>Fee conditions</code> - are linked to the fee rule and define fee ranges and values</li> <li><code>Limit rules</code> - are linked to the fee profile and define limit settings for particular transaction types</li> </ul> <br>Management of the fee profiles, fee rules, and fee conditions are described in the following folders:  <ul> <li><code>Contract management - fee profiles</code></li> <li><code>Contract management - fee rules</code></li> <li><code>Contract management - fee rule conditions</code></li> <li><code>Contract management - limit rules</code></li> </ul> <br>Contracts are divided by the person type, to which contracts can be linked.  <br>By default, one contract is configured in the system for each person type.  <br>The following person types (<code>personType</code>) are pre-configured: <ul> <li><code>Base</code></li> <li><code>Standard</code></li> <li><code>Gold</code></li> <li><code>VIP</code></li> </ul> <br>The person type and the linked contract is configured by default to be changed automatically during the onboarding process: <ul> <li>After registration, users have <code>personType = base</code> and the default contract related to the base person type.</li> <li>After the user is verified, the <code>personType</code> is automatically changed to <code>standard</code> and the contract is changed to the default contract related to the standard person type.</li> </ul> <br>This behaviour can be changed in the system configuration by updating <code>newPersonType</code> from <code>standard</code> to <code>base</code> for the required <code>organizationType</code> (<code>individual</code>, <code>merchant</code>) for <code>compliance.approval</code> parameter.  <br>The default configuration is:  <br><code>compliance:</code> <br>&nbsp; <code>approval:</code> <br>&nbsp; &nbsp; <code>- organizationType: 'individual'</code> <br>&nbsp; &nbsp; &nbsp; <code>newPersonType: 'standard'</code> <br>&nbsp; &nbsp; <code>- organizationType: 'merchant'</code> <br>&nbsp; &nbsp; &nbsp; <code>newPersonType: 'standard'</code> <br>To keep <code>base</code> person type after approval, configuration should be: <br><code>compliance:</code> <br>&nbsp; <code>approval:</code> <br>&nbsp; &nbsp; <code>- organizationType: 'individual'</code> <br>&nbsp; &nbsp; &nbsp; <code>newPersonType: 'base'</code> <br>&nbsp; &nbsp; <code>- organizationType: 'merchant'</code> <br>&nbsp; &nbsp; &nbsp; <code>newPersonType: 'base'</code>
  - name: Contract management - commission profiles
    description: >-
      <b>Fee profile</b> - defines transaction type for applying fees and if operation with this transaction type is allowed or not.  <br>Fee profile should be created in the contract for each existing transaction type.  <br>If fee profile is not created it means that operation with this transaction type is not allowed.  <br>Enabling and disabling operations can be also performed by setting the parameter `active` for the fee profile to true or false respectively.
  - name: Contract management - commission rule conditions
    description: >-
      <b>Fee rule condition</b> is linked to the <code>Fee rule</code> and defines the following settings: <ul> <li>the range of the transaction amounts to apply certain fees</li> <li>the type of fee (<code>zero</code>, <code>percent</code>, <code>fixed</code>, <code>greater of fixed or percent</code>, <code>lesser of fixed or percent</code>, <code>fixed and percent</code>)</li> <li>the value of the fee depending on the fee type</li> </ul>
  - name: Contract management - commission rules
    description: >-
      <b>Fee rule</b> is linked to the <code>fee profile</code> and defines the following settings: <ul> <li>the period (date range) when fee is applied</li> <li>the direction of the fee (<code>IN</code>, <code>OUT</code>, <code>SHARED</code> — available depending on operation type)</li> <li>whether the fee is active or not — at least one and only one active fee rule for each clause should always exist, otherwise the system returns an error during operation processing</li> </ul>
  - name: Contract management - limit rules
    description: >-
      <b>Limit rule</b> is linked to the fee profile and defines limits for the specified in the fee profile transaction type.
  - name: Country information
    description: Country Controller
  - name: Currency exchange
    description: >-
      Currency exchange operation allows users to perform transfers between accounts in different currencies using system exchange rates.  <br>Currency exchange is performed using transit accounts in source and destination currencies to align accounting with  available balance for exchange and track currency exchange differences. Such accounts are called <b>Exchange reserve</b>. <br>To be able to perform a currency exchange operation: <ul> <li>there should be enough money on the exchange reserve account in the destination currency</li> <li>exchange rate for the currency pair should be created and have status <code>active</code></li> </ul> <br>The following statuses of exchange rate are available: <ul> <li><code>created</code> — when the exchange rate is created. Exchange operation is not allowed.</li> <li><code>active</code> — when the exchange rate is activated. It should be done after creation to allow exchange operation.</li> <li><code>disabled</code> — when the exchange rate is disabled. Exchange operation is not allowed.</li> <li><code>unavailable</code> — when the exchange rate is unavailable (used when integration is configured to fetch rates from external source). Exchange operation is not allowed.</li> </ul> <br>SDK.finance platform has technical integration with [Currency Cloud](<https://www.currencycloud.com/>) to get exchange rates.  <br>To be able to use this integration, contact us on [our contact form](<https://sdk.finance/#form>).
  - name: Currency exchange rates provider management
    description: >-
      Currency exchange rate provider management allows users to manage exchange rate providers used to retrieve currency exchange rates.  <br>Currency exchange rate can be set manually or obtained from the provider. <br>SDK.finance platform has technical integration with [Currency Cloud](<https://www.currencycloud.com/>) to get exchange rates.  <br>To be able to use this integration contact us on [our contact form](<https://sdk.finance/#form>).
  - name: Currency management
    description: >-
      The SDK.finance platform supports multi-currency.  <br><b>Currency</b> (it can also be named as <b>Asset</b> in code) in the SDK.finance platform can be a digital currency, fiat currency, cryptocurrency,  or any entity you are going to account in the platform, like points, bonuses, etc. <br><br>Currency in the SDK.finance platform has the following parameters: <ul> <li><code>id</code> - Unique UUID, generated by the system for each currency</li> <li><code>currencyCode</code> - Currency code, can be any code specified by user or ISO currency code for fiat currency</li> <li><code>digitalCode</code> - Currency digital code, can be any code specified by user or ISO digital code for fiat currency</li> <li><code>name</code> - Currency name</li> <li><code>symbol</code> - Currency symbol for representation where required</li> <li><code>fraction</code> - Currency fraction (how many fractional units are in one basic unit), e.g. USD fraction is 100 — 1 dollar = 100 cents</li> <li><code>scale</code> - Number of decimal places to show when displaying balance</li> <li><code>active</code> - Whether currency is active. If <code>false</code>, all operations and account creation in this currency are forbidden</li> <li><code>snPrefix</code> - Optional prefix used for account number generation (currently not used)</li> <li><code>isMain</code> - Whether currency is the main one. Only one main currency should exist. Exchange rates are defined relative to this currency</li> <li><code>availableForExchange</code> - Whether the currency is available for exchange</li> <li><code>type</code> - Currency type</li> </ul> <br>There are the following currency types: <ul> <li><code>FIAT</code> - Traditional currencies like USD, EUR, etc.</li> <li><code>CRYPTO</code> - Cryptocurrencies like Bitcoin, Ethereum, etc.</li> <li><code>BONUS</code> - Bonus points or other loyalty rewards</li> <li><code>VIRTUAL</code> - System-specific virtual currencies (e.g., game points)</li> </ul>
  - name: Customer support
    description: >-
      This API set allows managing chats between business and service users. In the code, a chat is referred to as a conversation.
  - name: Customer verification settings management
    description: >-
      This API set allows managing settings related to the process of customer verification (KYC).
  - name: Documents management
    description: Provides endpoints for generating documents in different output formats (e.g., PDF, HTML, etc.).
  - name: Dispute operations
    description: >-
      This API set allows service users to initiate Refund for the processed external operations.
  - name: Environment variable tech management. For developers only
    description: Environment Variables Controller
  - name: Export transactions
    description: Export Transactions Controller
  - name: External Process Management
    description: >-
      SDK.finance platform provides ability to group operations in the system by external process ID.  <br>It enables the tracking of external processes that contain several subsequent operations, from initiation to completion across different systems. <br>External process ID is a unique ID assigned by an external system to a transaction.  <br>This ID should be provided in the API for operation creation and can be used for transfer, top-up via bank, and withdrawal via bank.
  - name: External operations - card issuing
    description: >-
      These APIs describe the issuing of a payment card via an integrated third-party provider. <br>To be able to issue a payment card and link it to the user's account: <ul> <li>A third-party card issuing provider must be integrated with the platform.</li> <li>A product for card issuing must be created. See the description of the API <code>POST /issue-card/card-products</code>.</li> <li>A fee for card issuing must be configured in Contracts. See <b>Contract management - fee rules</b> for more details.</li> </ul> <br>SDK.finance platform has technical integration with [Marqeta](<https://www.marqeta.com/>) to provide card issuing. <br>To use this integration for card issuing and card management contact us on [our contact form](<https://sdk.finance/#form>). <br>You can also watch demo video about how card issuing works on [card issuing demo](<https://sdk.finance/card-issuing/>).
  - name: External operations - issued cards management by business user
    description: >-
      This set of APIs allows business users to view and manage issued via third-party provider payment cards.  <br>Integration with third-party card issuing provider is required to use these APIs.  <br>The issued card is linked to the user using `token`.  <br>All card information except `token` is stored in the third-party provider system. <br>If card is not tokenized this set of API also provides ability to tokenize card and store it securely in the system. <br>SDK.finance platform has technical integration with [Corefy](<https://corefy.com/>) to provide card tokenization. <br>To be able to use this integration for card tokenization contact us on [our contact form](<https://sdk.finance/#form>).
  - name: External operations - issued cards management by service user
    description: >-
      This set of APIs allows service users to view Card products used for card issuing and users stored in the third-party card issuing provider system.  <br>The card product is created in both the SDK.finance platform and third-party provider system and usually represents the schema in which the payment card is issued, pricing plan and card usage conditions for the customer.  <br>Card product configuration and parameters depend on the integration with the third-party provider. <br>Users in the SDK.finance platform and third-party provider system are linked through the `token` parameter which is stored behind the user.
  - name: External operations - product management
    description: >-
      These APIs are used to manage Provider products.  <br><b>Provider products</b> are products which user can by from third-party provider integrated with the platform.  <br>To buy Provider products, operation <b>Purchase via provider</b> (transaction `type`=`PURCHASE`) should be used. <br>More about Provider operations you can read in the <b>External operations - top-up, withdrawal</b> and <b>External operations - purchase</b>. <br>To be able to perform operation <b>Purchase via provider</b>, Provider products should be added to the platform. <br><b>External operations - product management</b> allows user with appropriate permission to manage in the the system products and services offered by a certain provider.  <br>These services or products will be available for purchase by the <b>Customer</b> (<b>Individual</b> or <b>Merchant</b> business user).  <br>In order to buy a certain product (to use services offered by the Provider) you need to call API `POST /gate/transaction` <br>and specify product in the operation `type`:`PURCHASE`.   <br>In order to add a certain Provider product to the system, the Provider must be configured at the system boot.
  - name: External operations - provider management
    description: >-
      <b>External operations</b> (also can be called <b>provider operations</b>) are operations via third-party service providers integrated with the platform. <br>SDK.finance platform is designed to have a separate accounting for each integrated third-party provider and handle the fee flows. <br>The following external operations are supported on the platform: <ul> <li><code>TOPUP</code> - top-up of client account via third-party provider</li> <li><code>PURCHASE</code> - purchase of goods or services via third-party provider using client account</li> <li><code>REDEEM</code> - withdrawal from client account via third-party provider</li> <li><code>ISSUE_CARD</code> - issue payment card linked to the client account via third-party provider</li> </ul> <br>Definitions, you can see in this documentation related to the external operations: <ul> <li><b>Third-party provider, Provider</b> - an external organization that provides services</li> <li><b>Gate</b> - the technical implementation of the Provider, meaning an integration is required, or a custom gate exists in the system for Providers without integration</li> </ul> <br>To be able to perform external operations in the system: <ul> <li>Integration with the required third-party provider should be implemented or a custom gate should be added.  After adding a third-party provider to the system, it should be linked to the gate with integration or to the custom gate if integration is not required. One Provider can be linked to one gate, but one gate can be linked to many Providers. A third-party provider without integration may be created to track external operations, reflect them in the user's balance, and calculate fees.</li> <li>The required operations should be added to the Contracts (see <b>Contract management - fee profiles</b>)</li> </ul> <br>Provider transaction (as a part of <code>GateProcess</code> business process) has a status (<code>txStatus</code> or <code>status</code>), which reflects the transaction state in the overall <code>BusinessProcess</code> flow. <br>Provider transaction has the following statuses: <br><b>INITIATED</b> - when the transaction was started by the user, but the payment provider wasn't yet chosen <ul> <li><b>State:</b> <code>In progress</code></li> <li><b>Transition:</b> <code>Success</code>, <code>Failed</code></li> </ul> <br><b>PROVIDER_ASSIGNED</b> - when the user has already chosen the provider <ul> <li><b>State:</b> <code>In progress</code></li> <li><b>Transition:</b> <code>Success</code>, <code>Failed</code></li> </ul> <br><b>PENDING</b> - when the transaction was sent to the payment provider (e.g. user was redirected to the provider website) or a new transaction request was received from the provider (e.g. terminals) <ul> <li><b>State:</b> <code>In progress</code></li> <li><b>Transition:</b> <code>Success</code>, <code>Failed</code></li> </ul> <br><b>PROVIDER_PROCESSED</b> - when the payment provider completed the transaction successfully <ul> <li><b>State:</b> <code>In progress</code></li> <li><b>Transition:</b> <code>Success</code>, <code>Failed</code></li> </ul> <br><b>PROCESSED</b> - transaction was completed successfully <ul> <li><b>State:</b> <code>Success</code></li> <li><b>Transition:</b> <code>Terminated</code></li> </ul> <br><b>FAILURE</b> - transaction was completed unsuccessfully (error response received from the provider) <ul> <li><b>State:</b> <code>Failed</code></li> <li><b>Transition:</b> <code>Terminated</code></li> </ul> <br><b>EXCEPTION</b> - an exception occurred after payment provider selection <ul> <li><b>State:</b> <code>Failed</code></li> <li><b>Transition:</b> <code>Terminated</code></li> </ul>
  - name: External operations - purchase
    description: >-
      This section describes how to perform the purchase external operation: <ul> <li><b>Purchase via provider</b> (<code>PURCHASE</code>) - purchase of goods or services via third-party provider using client account</li> </ul> <br><br>To get more details about external operations check other sections related to the <b>External operations</b>.
  - name: External operations - top-up, withdrawal
    description: >-
      This section describes how to perform the following external operations: <ul> <li><b>Top-up via provider</b> (<code>TOPUP</code>) - top-up of client account via third-party provider</li> <li><b>Withdrawal via provider</b> (<code>REDEEM</code>) - withdrawal from client account via third-party provider</li> </ul> <br><br>To get more details about external operations check other sections related to the <b>External operations</b>.
  - name: Global notification settings management
    description: >-
      This API set allows to manage global notification settings
  - name: IBAN management
    description: >-
      User is able to validate the specified IBAN or generate IBAN. <br>IBAN can be used to create bank account in the system and it will be linked to this bank account.  <br>We use in-system library to validate and generate IBAN. To use a specific Bank for this purpose it should be integrated.  <br>More about bank accounts is described in the <b>Bank accounts management by business roles</b>.
  - name: I18n management
    description: >-
      This API set allows managing internationalization (I18n) settings in the system, enabling the definition of localized entity names,  interface labels, messages, and other parameters in different languages (locales).
  - name: In-system cards management by owner
    description: >-
      In-system card can be linked to the account and allows performing in-system transfers using the in-system card number instead of the account number. <br>Several in-system cards can be linked to one account. <br>In-system card has the following parameters: <ul> <li>In-system card name - specified during creation</li> <li>In-system card number - 16-digit unique number generated by the system</li> <li>In-system card expiration date - generated by the system using variable <code>in_system_cards_expiration_period_in_months</code>.  This variable can be changed using API <code>PUT /environment-variables</code>.</li> <li>Expiration status - shows if the in-system card is expired</li> <li>Active parameter - shows if the card is active or not</li> </ul> <br>This API set allows users with business roles to manage their in-system cards.
  - name: In-system cards management by service role
    description: >-
      This API set allows users with service roles to manage in-system cards. To read more about in-system cards check <b>In-system cards management by owner</b>
  - name: Investigation
    description: >-
      This API set allows service users to initiate investigation for the specified operation, view investigations and manage investigation status.
  - name: Invoice
    description: >-
      <b>Invoice</b> allows the <b>Merchants</b> business user to receive payments for goods/services from <b>Individuals</b> or other <b>Merchants</b>.   <br>An invoice is a document that contains the list of goods or services that the merchant has provided to the customer, along with the price and any applicable taxes.  <br>System allows <b>Merchants</b> to easily create, send, and manage invoices electronically (generate and track invoices, automate payment reminders, and manage customer payments). <br>Along with <b>Invoice</b>, there is another functionality to pay for goods/services to a particular Merchant which is called <b>Merchant Payment</b>.  <br>The main difference between merchant payment and invoice is that merchant payment, when created, contains information about the POS and details about the products that were part of the order associated with that payment.   <br>Use cases related to invoicing include:  <ul> <li>Invoice creation</li> <li>View and filter the list of created invoices</li> <li>Invoice templates</li> <li>Payment for invoices</li> </ul>
  - name: Login change
    description: >-
      When users are unable to access the phone number used for login and two-factor authentication with OTP enabled, they must be provided with the ability to change their login phone number. <br>To proceed with this request, users need to specify their old phone number before continuing with the next steps. <br>To change their login phone number, users must upload the required documents to verify their identity. <br>To complete the request to change their login phone number, users must specify and confirm the new phone number.
  - name: Login credentials management
    description: >-
      These APIs are used to manage user's credentials login on the system.
  - name: Media files management
    description: >-
      These APIs are used to manage media files on the system. For example, the business users (<b>Individual</b>, <b>Merchant</b>) upload documents for identification and further review the documents by the <b>Administrator</b> or <b>Compliance Manager</b> during the KYC procedure.
  - name: Merchant Payment
    description: >-
      <b>Invoice</b> allows the <b>Merchants</b> business user to receive payments for goods/services from <b>Individuals</b> or other <b>Merchants</b>.   <br>An invoice is a document that contains the list of goods or services that the merchant has provided to the customer, along with the price and any applicable taxes.  <br>System allows <b>Merchants</b> to easily create, send, and manage invoices electronically (generate and track invoices, automate payment reminders, and manage customer payments). <br>Along with <b>Invoice</b>, there is another functionality to pay for goods/services to a particular Merchant which is called <b>Merchant Payment</b>.  <br>The main difference between merchant payment and invoice is that merchant payment, when created, contains information about the POS and details about the products that were part of the order associated with that payment.   <br>Use cases related to invoicing include: <ul> <li>Invoice creation</li> <li>View and filter the list of created invoices</li> <li>Invoice templates</li> <li>Payment for invoices</li> </ul>
  - name: Merchant product catalog
    description: >-
      Merchant products can be used for merchant payment if you need to manage merchant product catalog in the system and use it for merchant payment.  <br>To use Merchant products in the merchant payment you will need to create Merchant product measure unit and Merchant product price. <br>If it is required you can also group merchant products by Merchant product categories.
  - name: Merchant product categories
    description: >-
      Merchant product categories can be used to group merchant products to have Merchant product catalog more structured.
  - name: Merchant product measure units
    description: >-
      Merchant product measure unit should be created to be able to set Merchant product price.
  - name: Merchant product price
    description: >-
      Merchant product price can be used if you use Merchant product catalog for merchant payment creation.  <br>There is also an ability to specify the price while creating merchant payment and ignore the price set for the Merchant product catalog.
  - name: MongoDB synchronisation
    description: >-
      MongoDB is used for UI representation to separate it from the operational database. Data synchronisation is embedded in the business processes.  <br>This set of APIs allows the synchronisation of data in MongoDB for the list of business processes if required to do it manually.
  - name: Monthly fee management
    description: >-
      This API set allows service users to manage a monthly fee that can be linked to contracts.
  - name: Notes
    description: >-
      This API set is designed for managing notes. It allows adding notes to applicable entities, as well as viewing, editing, and deleting notes.
  - name: Notifications
    description: >-
      This API set allows sending notifications to users with Business or Service roles.  <br>Notifications to users with Business roles will be sent to the verified user contact, email and/or phone. <br>Notifications to users with Service roles will be set to the predefined list of emails.
  - name: Notifications management
    description: >-
      This API set allows users to manage their notifications
  - name: Notification settings management
    description: >-
      This API set allows users to manage their notification settings
  - name: Open Banking - Salt Edge integration
    description: >-
      The SDK.finance platform has the following technical integrations of Salt Edge Partners API for Open Banking: <ul> <li>[Salt Edge Partners Account Information API](<https://docs.saltedge.com/partners/v1/#overview>)  to provide access to financial information for any company that does not need to get a PSD2 Account Information Service Provider license</li> <li>[Salt Edge Partners Payment Initiation API](<https://docs.saltedge.com/partners_payment_initiation/v1/#>)  to provide payment initiation ability for any company that does not need to get a PSD2 Payment Initiation Service Provider license</li> </ul> <br>To ensure security, no sensitive data is stored in the SDK.finance platform.  <br>Only technical information is stored to link SDK.finance customer entity to Salt Edge customer entity, and the related consent for the definite Salt Edge provider.  <br>Check APIs description to get more detailed flow explanation. <br>To start using this integration, [contact us](<https://sdk.finance/integrations/#form>).
  - name: Organization bank account management
    description: >-
      Organization bank account management
  - name: Organization management
    description: >-
      Organization management
  - name: Organization members management
    description: >-
      Organization members management
  - name: Organization membership management
    description: >-
      Organization membership management
  - name: Organization profile management
    description: >-
      Organization profile management
  - name: Organization profile - documents management
    description: >-
      Organization profile - documents management
  - name: Organization settings management
    description: >-
      Organization settings management
  - name: OTP confirmation - confirmation management
    description: >-
      <br>OTP confirmation functionality can be used to introduce an additional verification step for user identity. <br>To start using this functionality, it must be enabled both at the system and user levels. <br>Review <b>OTP Confirmation - System Level Settings</b> and <b>OTP Confirmation - User Level Settings</b> for more details. <br>For demo purposes, OTP is configured as a static value <code>1111</code>. It can be changed in the application configuration, along with OTP length, validity, resend delay, and maximum entry attempts. <br>This API set allows users to get a list of OTP confirmations, resend OTP for confirmation, and confirm an operation or security-sensitive action using OTP. <br>When an operation requires OTP confirmation, the status of the operation returned in the response is <code>waiting_for_approval</code>. <br>Flow to confirm an operation by OTP: <ul> <li>Call API <code>GET /confirmations</code> and pass the following parameters in the request URL: <code>type</code> — according to the operation to confirm, and <code>entityId</code> — the <code>id</code> of the operation to confirm. </li> <li>Take the <code>id</code> from the response.</li> <li>Call API <code>PATCH /confirmations/{confirmationId}</code>, pass the received <code>id</code> as <code>confirmationId</code> in the request URL, and the OTP in <code>confirmationCode</code> in the request body.</li> </ul> <br>The following operations can be confirmed by OTP: <ul> <li><code>VOUCHER_CREATION</code> - Prepaid creation (<code>POST /prepaid-coin</code>)</li> <li><code>VOUCHER_ACTIVATION</code> - Prepaid withdrawal (<code>POST /prepaid-coins/{serial}/activate</code>)</li> <li><code>MERCHANT_PAYMENT</code> - Pay for merchant payment as customer (<code>POST /merchant-payments/{identifier}/execute</code>)</li> <li><code>TOP_UP_VIA_BANK_REQUEST</code> - Create request to perform account top-up via bank transfer (<code>POST /bank-top-ups/create-request</code>)</li> <li><code>WITHDRAWAL_VIA_BANK_REQUEST</code> - Create request to perform withdrawal via bank (<code>POST /bank-withdrawals/create-request</code>)</li> <li><code>TOP_UP_VIA_PROVIDER</code> - Account top-up via provider (<code>POST /gate/transactions</code>, <code>type</code>: <code>TOPUP</code>)</li> <li><code>WITHDRAWAL_VIA_PROVIDER</code> - Withdrawal from account via provider (<code>POST /gate/transactions</code>, <code>type</code>: <code>REDEEM</code>)</li> <li><code>PURCHASE_VIA_PROVIDER</code> - Purchase from account via provider (<code>POST /gate/purchases</code>)</li> <li><code>INVOICE_PAYMENT</code> - Pay for merchant invoice (<code>POST /invoices/{identifier}/pay</code>)</li> <li><code>CARD_ISSUANCE_VIA_PROVIDER</code> - Issue payment card via provider (<code>POST /issue-card/cards</code>)</li> <li><code>TRANSFER</code> - Perform in-system transfer (<code>POST /transfers</code>)</li> <li><code>CLOSE_ACCOUNT</code> - Close account (<code>PUT /v1/close/coin/{serial}</code>)</li> <li><code>DEACTIVATE_ACCOUNT</code> - Deactivate account (<code>PATCH /coins/{serial}</code>, parameter <code>active</code>: <code>false</code>)</li> <li><code>ACTIVATE_ACCOUNT</code> - Activate account (<code>PATCH /coins/{serial}</code>, parameter <code>active</code>: <code>true</code>)</li> <li><code>DELETE_IN_SYSTEM_CARD</code> - Delete in-system card (<code>DELETE /my/in-system-cards/number/{number}</code>)</li> <li><code>CHANGE_CARD_STATUS_IN_SYSTEM_CARD</code> - Change status for in-system card (<code>PATCH /my/in-system-cards/number/{number}</code>, parameter <code>active</code>)</li> </ul>
  - name: OTP confirmation - system level settings
    description: >-
      <br>This API set allows users to view and manage OTP confirmation settings at the system level for a list of operations and security-sensitive actions. <br>If OTP confirmation is disabled at the system level, it will be disabled for all users, regardless of the settings specified at the user level. <br>If OTP confirmation is enabled at the system level, user level settings will be applied. OTP confirmation will be required  if it is enabled for the user and will not be required if it is disabled for the user.
  - name: OTP confirmation - user level settings
    description: >-
      <br>This API set allows users to view and manage OTP confirmation settings at the user level. <br>OTP confirmation settings at the user level will only be considered if OTP confirmation is enabled at the system level.
  - name: Password recovery
    description: This API set allows users to reset password. OTP will be sent to the provided email or phone if it is registered in the system.
  - name: Points of Sale management
    description: >-
      Point of Sale (POS) allows merchants to accept payments. One merchant can have many Points of Sale.  <br>To get more details about merchant payments check <b>Merchant Payment</b>. <br>This API set allows merchants to manage their Points of Sale.
  - name: Prepaid
    description: >-
      <b>Prepaids</b> are purchased by business users with a specific denomination and withdrawed for goods or services later on.  <br>User with the business role is able to create a prepaid or withdraw the previously created prepaid.  The recipient of the prepaid can be any person.  In SDK.finance platform prepaids can be created and sent to unregistered users to encourage them to register and use the account services. <br>To withdraw the prepaid, you need its ID number (represented as a <code>serial</code>) and pin code, which are generated when creating the prepaid. <br>The amount of the prepaid is debited from the user's account after the prepaid is created.  When the prepaid is withdrawn, the amount is credited to the user's account (who withdrawn the prepaid). <br><br>Here are some possible use cases for prepaids within an account platform: <ul> <li><b>Gift cards</b>: Users can generate or purchase a prepaid and send it as a gift to another person.  The recipient can then use the prepaid to make a purchase from a specific merchant or category (after registering as a <b>Business User</b>).</li> <li><b>Discounts and promotions</b>: Platforms can offer prepaids as part of their promotions and discounts.</li> <li><b>Bill payments</b>: Users can purchase a prepaid with a specific denomination and use it to pay their bills, such as utilities, phone bills, and internet bills.</li> <li><b>Event tickets</b>: Users can purchase a prepaid and use it to purchase tickets for concerts, movies, and other events.</li> <li><b>Online shopping</b>: Users can purchase a prepaid and use it to make a purchase from the platform's merchant partners.</li> </ul> <br><br>Current implementation of SDK.finance functionality for prepaids covers creation of prepaids, withdrawing of prepaids, viewing the list of created prepaids, and changing the pin for a prepaid.  <br><br>To operate with prepaids, System interacts with two types of client accounts: <ul> <li><b>client</b>. Account level <code>client</code> <br>A general type of accounts owned by business users. Used as <code>srcSerial</code> or <code>destSerial</code> while the prepaid creation and withdrawal.</li> <li><b>prepaid</b>. Account level <code>client</code> <br>The prepaid account, which contains the amount of the prepaid funds after creating. Amount of the prepaid can be withdrawn by <code>serial</code> of this account and prepaid <code>pin</code>.</li> </ul>
  - name: Profile - Master PIN
    description: >-
      Master Pin is used for Transaction confirmation if it is enabled in the user profile settings.  <br>To get more details about transaction confirmation settings check <b>OTP confirmation</b>. <br>To get more details about transaction confirmation check <b>Transactions management</b>. <br>This API set allows users to manage Master PIN.
  - name: Profile - customer identification (KYC)
    description: >-
      This set of APIs allows to manage customer identification (KYC) process.  <br>The KYC process can be performed by the system user with appropriate permissions.  <br>The SDK.finance platform provides essential KYC functionality such as uploading and verifying user documents and data, and change their status accordingly.   <br>Platform has technical integration with several KYC third-party providers in addition to internal KYC flow.  <br>Check our available integrations [here](<https://sdk.finance/integrations/>).  <br>To start using integration with KYC provider, [contact us](https://sdk.finance/integrations/#form). <br>The following user identification statuses are supported: <ul> <li><code>none</code> - means that user has been registered in the system and did not yet provide required documents for verification.  This status allows user to upload documents. After user uploads at least one document status is changed to <code>pending</code>. Status transition to: <code>pending</code>.</li> <li><code>pending</code> - means that user has uploaded the required documents which were not yet reviewed by compliance or user request to reset identification was approved.  This status allows user to upload documents. Status transition to: <code>review_required</code>, <code>approved</code>, <code>declined</code>.</li> <li><code>review_required</code> - means that verification in the integrated third-party KYC provider were performed and additional compliance review is required.  This status can appear only if integration with third-party KYC provider is enabled. Status transition to: <code>approved</code>, <code>declined</code>.</li> <li><code>approved</code> - means that all uploaded documents and user profile have been approved. Status transition to: <code>pending</code>.</li> <li><code>declined</code> - means that user profile was declined by compliance. This status is final and has no transition.</li> </ul> <br>After user uploads at least one document status is changed to <code>pending</code>. Status transition to: <code>pending</code>. <br>User identification can be approved only when all mandatory documents are uploaded and approved. <br>If it is required to skip the KYC process, for example, if it is done outside the system,  it should be configured on the instance in the <code>application.yaml</code>:  <br><code>compliance:</code> <br>&nbsp; <code>useThirdPartyVerificationService: false</code> <br>If <code>useThirdPartyVerificationService</code> is set as <code>false</code>, the user will be created with the status <code>approved</code>.  <br>The person type for creation will be taken from the <code>newPersonType</code> in the settings: <br><code>compliance:</code> <br>&nbsp; <code>approval:</code> <br>&nbsp; <code>- organizationType: 'individual'</code> <br>&nbsp;&nbsp;&nbsp; <code>newPersonType: 'standard'</code> <br>&nbsp; <code>- organizationType: 'merchant'</code> <br>&nbsp;&nbsp;&nbsp; <code>newPersonType: 'standard'</code>
  - name: Profile - documents management
    description: >-
      As part of the onboarding process customer is able to upload documents.  List of the mandatory documents can be set up in configuration files. <br>After document is uploaded it can be approved, declined, or sent to third-party KYC provider.  <br>The following document statuses are supported: <ul> <li><code>PENDING</code> - document is uploaded.  <br>Document with this status can be re-uploaded.  In this case, previous document will change status to <code>OUTDATED</code>, and new uploaded document will have status <code>PENDING</code>. <br>Status transition to: <code>IN_VERIFICATION</code>, <code>OUTDATED</code>.</li> <li><code>IN_VERIFICATION</code> - user confirmed that uploaded document is correct.  Depending on the configuration, document with this status can be reviewed by compliance, or sent to third-party KYC provider manually or automatically. <br>To start using KYC provider for document verification [contact us](<https://sdk.finance/integrations/#form>). <br>Status transition to: <code>APPROVED</code>, <code>DECLINED</code>, <code>REVIEW_REQUIRED</code>. Document with this status cannot be re-uploaded.</li> <li><code>APPROVED</code> - document is approved. Document with this status cannot be re-uploaded.  To be able to re-upload approved document, user KYC identification should be reset.  <br>Status transition to: <code>OUTDATED</code>.</li> <li><code>DECLINED</code> - means that document is declined. Document with this status cannot be re-uploaded. <br>This is the final status - no status transition.</li> <li><code>OUTDATED</code> - means that customer KYC identification was reset and status of all documents is changed to <code>OUTDATED</code> automatically. Also, when customer re-uploads document in <code>PENDING</code> status, previous document status is changed to <code>OUTDATED</code>. Document with this status can be re-uploaded.  <br>Status transition to: <code>PENDING</code>.</li> </ul> <br>Customer KYC identification can be approved only when all mandatory documents are uploaded and approved. <br>When customer KYC identification is reset, all documents statuses are changed to <code>OUTDATED</code> and should be re-uploaded. <br>For more details about customer identification, check <b>Profile - customer identification (KYC)</b>.
  - name: Profile - documents management by owner
    description: >-
      This API set allows users to manage their profile documents.
  - name: Profile - transactions confirmation settings
    description: >-
      APIs in this set are deprecated. APIs from <b>OTP confirmation</b> should be used instead.
  - name: Profile management by owner
    description: >-
      This API set allows users with business roles (<b>Individual</b>, <b>Merchant</b>) to view and manage their profiles.  <br>The user profile contains the following sets of information which can be viewed and managed: <ul> <li>additional</li> <li>address</li> <li>business</li> <li>contact</li> <li>person</li> <li>security-settings</li> </ul>
  - name: Profile management by service role
    description: >-
      This API set allows users with service roles to view and manage user profiles.  <br>The user profile contains the following sets of information which can be viewed and managed: <ul> <li>additional</li> <li>address</li> <li>business</li> <li>contact</li> <li>person</li> <li>security-settings</li> </ul>
  - name: Provider wallet management
    description: Provider Coin Management Controller
  - name: Push Tokens
    description: Push tokens
  - name: QR code generation
    description: This API provides ability to generate QR code
  - name: Receipts Management
    description: Receipt generation
  - name: Reconciliation - Operational days management
    description: >-
      Setting up calendar with operational days is required only if you need system to store account balances for each operational day. <br>After initialization, system works in the zero operational day and balances for each day are not stored. <br>Operational day has the following parameters: <ul> <li>Internal ID</li> <li>Number (starting from zero)</li> <li>Begin date and time</li> <li>End date and time</li> <li>Status: <b>Closed</b> - Past operational day, <b>Open</b> - current operational day, <b>Future</b> - future operational day</li> </ul> <br>Zero calendar day after system initialization has status <b>Open</b>, Begin date and time as <b>1970-01-01 00:00:00</b>, and End date is not specified. <br>Zero calendar day parameters will be changed after calendar setup. <br>Operational day status is changed automatically when end date is reached: <ul> <li><b>Open</b> is changed to <b>Closed</b></li> <li><b>Future</b> is changed to <b>Open</b></li> </ul>
  - name: Reconciliation - balances reconciliation
    description: >-
      SDK.finance platform provides the ability to reconcile balances and transactions.  <br><b>Balances reconciliation</b> goal is to compare liquidity amount in the specified currency in the system with balance at the respective bank account.  <br>Liquidity amount refers to the amount of money in the system that should be equal to the sum of balances of all clients accounts and sum of fees that were applied without necessity to withdraw them from the system.  <br><br>Account balances are stored for each day only if the system calendar is set. Check <b>Reconciliation - Operational days management</b> for more details about calendar setup.    <br><br>The following balances reconciliation statuses are defined in the system:  <table> <thead> <tr> <th><b>Status</b></th> <th><b>Description</b></th> <th><b>Transition Status</b></th> </tr> </thead> <tbody> <tr> <td>Not started</td> <td>Reconciliation record was created according to the defined frequency, but reconciliation was not yet performed</td> <td>In progress</td> </tr> <tr> <td>In progress</td> <td>Reconciliation is in progress.</td> <td>Error<br>Warning<br>Reconciled</td> </tr> <tr> <td>Warning</td> <td>Balances are not matched.</td> <td>Reconciled</td> </tr> <tr> <td>Reconciled</td> <td>Balances are matched.</td> <td>-</td> </tr> </tbody> </table>
  - name: Reconciliation - transactions reconciliation
    description: >-
      SDK.finance platform provides the ability to reconcile balances and transactions. <br><b>Transactions reconciliation</b> goal is to compare list of transactions received from external system, for example from third-party provider or from bank, with the list of transactions created in the system. <br>During transactions reconciliation process, the system compares transactions from file with transactions in the system for the specified period and generates the following reconciliation mismatches: <ul> <li><b>Transaction not found</b> - transaction is present in the file but is not found in the system for the specified period.</li> <li><b>Wrong amount</b> - transaction amount in the file is different from transaction amount in the system.</li> <li><b>Wrong currency</b> - currency code in the file is different from the currency in the system.</li> <li><b>Wrong date</b> - date from the file is different from the date in the system.</li> <li><b>Wrong transaction status</b> - transaction status in the system is not “Processed”.</li> </ul> <br>User can resolve reconciliation mismatch. This action will just change mismatch status. <br>The following transactions reconciliation statuses are defined in the system: <table> <thead> <tr> <th><b>Status</b></th> <th><b>Description</b></th> <th><b>Transition Status</b></th> </tr> </thead> <tbody> <tr> <td>In progress</td> <td>Reconciliation is in progress.</td> <td>Error<br>Warning<br>Reconciled</td> </tr> <tr> <td>Error</td> <td>Reconciliation process was not finished, error occurred.</td> <td>In progress</td> </tr> <tr> <td>Warning</td> <td>Reconciliation process is finished, but there are mismatches.</td> <td>In progress<br>Resolved</td> </tr> <tr> <td>Resolved</td> <td>All mismatches were resolved</td> <td>-</td> </tr> <tr> <td>Reconciled</td> <td>All transactions are matched.</td> <td>-</td> </tr> </tbody> </table>
  - name: Reconciliation management
    description: >-
      SDK.finance platform provides the ability to reconcile balances and transactions. <br>This API set allows to view and manage reconciliation configurations, and start reconciliation process for both, balances and transactions reconciliation. <br>APIs specific for balances and transactions reconciliation are explained in the <b>Reconciliation - balances reconciliation</b> and <b>Reconciliation - transactions reconciliation</b> respectively. <br><br>To be able to start reconciliation process, the following actions are required: <ul> <li>Create reconciliation configuration if it has not been created yet. For balances reconciliation configuration defines reconciliation frequency.</li> <li>Create reconciliation record for the specified configuration. For balances reconciliation, reconciliation record is created automatically according to the specified frequency. For transactions reconciliation, reconciliation record is created by calling API.</li> <li>Upload file for transactions reconciliation.</li> <li>Initiate reconciliation process.</li> </ul>
  - name: Reporting
    description: Endpoints for fetch statistics
  - name: Reports
    description: >-
      SDK.finance platform has a dedicated reporting module. This module can be enabled or disabled through configuration settings, offering flexibility based on the requirements. <br>The module leverages Kafka for populating a specialized database used for generating reports, ensuring reliable and efficient processing of reporting data.  <br>The following configuration properties are related to Kafka usage: <code>spring.kafka</code>. <br>The following configuration properties are specific to the reporting module: <code>reports.kafka</code>. <br>This API set enables the management of report generation tasks.
  - name: Roles and permissions management
    description: >-
      SDK.finance platform has a predefined list of default roles, both service and business. <br>The following list of default roles is configured in <code>application.yaml</code> and is applied at the first system start. <br><br>Business roles: <ul> <li>Individual</li> <li>Merchant</li> </ul> <br>Service roles: <ul> <li>Customer Success Specialist</li> <li>KYC Specialist</li> <li>AML Specialist</li> <li>Antifraud Specialist</li> <li>CFO - Chief Financial Officer</li> <li>Financial Specialist</li> <li>Accountant</li> <li>Cashier</li> <li>CRO - Chief Revenue Officer</li> <li>Revenue Specialist</li> <li>Revenue Analyst</li> <li>Role - Administrator</li> <li>Administrator</li> <li>CEO</li> </ul> <br>This API set allows users to view and manage the existing roles and their permissions.
  - name: Schedule
    description: >-
      Use this API set to <b>schedule</b> previously created <b>tasks</b>.  <br>It allows assigning execution schedules to supported task types.  <br>Creation and management of tasks are described in a separate API block <b>Task</b>.
  - name: System health check
    description: Check if server is up and running
  - name: Task
    description: >-
      Use this API set to manage <b>tasks</b> that can later be <b>scheduled</b>. <br>Currently supported task types are: <ul> <li><code>WITHDRAWAL</code></li> <li><code>REPORT</code></li> <li><code>SUBSCRIPTION</code></li> </ul> <br>Scheduling of tasks is described in a separate API block <b>Schedule</b>.
  - name: Templates - Invoice
    description: >-
      <b>Invoice Template</b> functionality allows the <b>Merchant</b> business user to create templates for further <b>Invoice</b> issuing. <br>You can find more detailed information about invoices in the <b>Invoice</b> API description.
  - name: Templates - In-system transfer
    description: >-
      This set of APIs enables the management of in-system transfer templates and their use for executing transfers.
  - name: Templates - Transfer to bank account
    description: >-
      This set of APIs enables the management of templates for transfers to bank accounts (also referred to as withdrawals via bank).
  - name: Templates - View templates
    description: >-
      This API set allows viewing user-created transfer templates for both in-system transfers and bank account transfers.
  - name: Token management
    description: >-
      <b>Token management</b> functionality allows to invalidate auth/refresh tokens.
  - name: Transaction Categories
    description: >-
      <b>Transaction Categories</b> functionality allows business users to manage their spending and view transaction history by Category. <br>Each transaction in the system belongs to a certain business process. <b>Category</b> is the optional parameter for such business processes.  <br>Category should be set for business process types to which the transaction belongs to allow tag this transaction by the user who executes transaction. <br>To set the category to a certain business process is allowed only for administrator or other system user with appropriate permissions.  <br>Administrator or other system user with appropriate permissions is also allowed to manage transaction categories (create, update, or delete).
  - name: Transaction types
    description: >-
      Transaction types
  - name: Transactions management
    description: This API set allows viewing transactions list or transaction details for the specified transaction, and confirm transaction with master PIN or OTP if such confirmation is enabled in the user profile settings. <br>To get more details about transaction confirmation settings check <b>Profile - transactions confirmation settings</b>.
  - name: Transfer by wallet owner
    description: >-
      This set of APIs allows performing in-system transfers using account numbers or in-system cards numbers.  <br>Transfers can be performed between accounts owned by the same user of between different users.  <br>Transfer can be performed only by source account owner, it cannot be performed by any service role on behalf of account owner.  <br>Currency of the source and destination account should be the same. <br>If you need to perform transfer between accounts in different currencies owned by the same user use API to perform currency exchange: `POST /exchange`. <br>If you need to perform transfer between accounts in different currencies owned by different users you can first perform exchange to the destination currency for user initiating transfer and then perform transfer.
  - name: Trusted domains management
    description: >-
      <br>This API set allows Trusted Domains management. <br>Trusted domain - a domain name allowed for use in login emails when creating new system users. <br>Business users are not restricted in registration and can use any login emails. <br>Adding a new trusted domain does not affect already existing user login emails in the system. <br>Usage of trusted domains is disabled by default and can be enabled by setting the application property <code>bootstrap.core.system.trusted-domains.enabled</code> to <code>true</code>.
  - name: Two-factor authentication - TOTP management
    description: >-
      <br>This API set allows users to manage security methods which require two forms of identification to access resources and data with time-based one-time passwords (TOTP). <br>Users can configure usage of TOTP as a method of two-factor authentication (2FA) that uses the current time to generate unique, time-sensitive codes (6 digits by default). <br>These codes are valid for a short period (default 60 seconds) and are generated by an algorithm using the current time as input. <br>TOTP codes are compatible with and can be generated by Google Authenticator or similar applications.
  - name: User actions monitoring
    description: All actions performed in the system are store in the database and can be viewed using APIs
  - name: User contacts list management
    description: This API allows users to manage their contacts list.
  - name: User message API provider
    description: User Message Controller
  - name: User note API provider
    description: User Note Controller
  - name: User self-registration
    description: >-
      SDK.finance platform provides the self-registration flow for users with the business roles: <b>Individual</b>, <b>Merchant</b>. <br>After the user is registered in the system the registration should be confirmed by provided OTP.  <br>OTP is set up as “1111” on the SDK.finance sandbox environment for testing purposes.  <br>Option to have the static OTP and OTP value is configurable in the build parameters `users.registration.static-otp.enabled` and `users.registration.static-otp.code`.  <br>To have static OTP, parameter `notifications.sms.provider` should be setup as `logSmsSender`.
  - name: Users management
    description: >-
      There are two groups of roles in the system: <ul> <li>Business roles - roles that use system to operate with their own accounts</li> <li>Service roles - roles for system management</li> </ul> <br>Users with service roles are able to manage users in the system. <br>Default users with the following roles are created: <br><br><b>Service roles</b> <ul> <li>Administrator</li> <li>Accountant</li> <li>Compliance manager</li> <li>Cashier</li> </ul> <br><b>Business roles</b> <ul> <li>Individual</li> <li>Merchant</li> </ul> <br>You can use these users to operate with our sandbox using sample credentials which you can find in the description of the API <code>/authorization</code>.
  - name: Validation for coin
    description: Validate Coin Controller
  - name: Validation for in-system card
    description: In-system Card Validate Controller
  - name: Validation for user contact
    description: Validate Contact Controller
  - name: Wallet management
    description: >-
      This set of APIs allows account management operations within the platform for both <b>Account owners</b> and <b>Service users</b> with appropriate permissions.   <br><br> <b>Account owners</b> can perform all actions related to their own accounts or company accounts that belong to them.   <br>This applies to all user types (Service and Business users) and to all available account types.   <br><br> <b>Service users</b> with the required permissions can: view information about client, system and service accounts; Create accounts on behalf of business users when permitted <br>All other actions with `client` type accounts are restricted and can be performed only by the respective <b>Account owner</b>.
  - name: Wallet management by owner
    description: >-
      This set of APIs allows the account management in the platform only for <b>Account owner</b>.  <br>It is applicable for all types of users (Service and Business users) and to all available account types.  <br>View the `client` type of accounts (accounts of business users) is also available to the service users with the appropriate permissions.  <br>But all other actions with the `client` type of accounts are available only to the <b>Account owner</b>.
  - name: Wallet management by service roles
    description: >-
      This set of APIs allows service users with appropriate permissions to view account information of system and service users accounts, and to create account on behalf of business user.
  - name: Wallet top-up via bank transfer
    description: >-
      Top-up from a bank account is the way to load money to the account which can be done with or without bank integration. <br>SDK.finance platform provides two options to perform the bank top-up: <ul> <li>Directly without confirmation by the accountant</li> <li>With confirmation, when the customer initiates the request and the accountant confirms the request when the transfer is received</li> </ul> <br>The customer performs a usual bank transfer to the special transit account with specifying account ID (account number). <br>These transfers are processed on the bank side. Then, top-up via bank can be performed in the following ways: <ul> <li>From the UI</li> <li>By calling API manually</li> <li>Using bank integration</li> </ul> <br>To be able to perform top-up via bank: <ul> <li>Bank should be added to the system using API <code>POST /bank-catalog</code></li> <li>Operation <b>Top-up via bank</b> should be activated in the fees on UI or using APIs from the <b>Contract management - fee profiles</b></li> <li>Bank account should be created and linked to the account on UI or using <b>Bank accounts management</b> APIs.</li> </ul>
  - name: Wallet top-up via cash desk
    description: >-
      Account top-up via cash desk is different from other top-ups in its accounting which is developed in a way that allows tracking balances for both entities: <ul> <li>Cash desk, where top-up is performed</li> <li>Business user, whose account was topped up</li> </ul> <br>Top-up via cash desk can be used when cash is physically input to the cash desk or self-service device, like a kiosk or ATM. <br>To represent it in the system, money is loaded to both accounts, cash desk and client. <br>Account top-up via the cash desk can be done by the service user, usually the cashier of the definite cash desk, with appropriate permissions only if the working day for this cash desk is opened. <br>Check <b>Cash-desk - working day management</b> for more information.
  - name: Wallets
    description: >-
      <b>Account</b> is an internal entity in the system, which represents a fund balance in a specified currency.  <br>In the code, <b>Account</b> is named as <code>coin</code>.  <br>On UI and in the platform documentation, you may also find the term <b>wallet</b> instead of an account (<code>coin</code>). <br>Each account has the following parameters:  <ul> <li><code>type</code> - purpose of the account</li> <li><code>currency</code> - currency of the account</li> <li><code>level</code> - at which level in the system account is created. For each level, separate account is created for each currency.</li> </ul> <br>Account is linked to the <code>organization</code>, for which this account is created. <br><br>The following account types are created in the SDK.finance platform: <table> <thead> <tr> <th>Account type</th> <th>Level</th> <th>Description</th> </tr> </thead> <tbody> <tr> <td><code>client</code></td> <td>Business user</td> <td>Accounts owned by business users (individual, merchant). It is created by the business user or by the service user on behalf of the business user.</td> </tr> <tr> <td><code>prepaid</code></td> <td>Business user</td> <td>Special type of the account for prepaids. It is created when user creates a prepaid. Prepaids can be purchased by business users with a specific denomination and withdrawed for goods or services later on.</td> </tr> <tr> <td><code>cash</code></td> <td>Cash desk</td> <td>Account for cash desk. It is created automatically: - for existing cash desks for the definite currency, when fee for cash desk operation is configured in any contract - when new cash desk is created, for all currencies, for which fees for cash desk operations are configured at the moment of cash desk creation. Cash desk operations: cash_desk_redeem, cash_desk_charge.</td> </tr> <tr> <td><code>reserve</code></td> <td>System</td> <td>Account for cash which is being transferred between cash desks. It is created automatically for the definite currency when fee for cash desk operation is configured in any contract for any cash desk.</td> </tr> <tr> <td><code>gate</code></td> <td>Provider</td> <td>Account for provider settlement money flow for provider operations. Works as transit account and when operation is completed balance of this account should be 0.</td> </tr> <tr> <td><code>exchange_reserve</code></td> <td>System</td> <td>Account for exchange reserve for Currency Exchange operation. It is created automatically for the definite currency when fee for exchange operation is configured in any contract.</td> </tr> <tr> <td><code>system_gate_commission</code></td> <td>System</td> <td>Account for accounting of fee paid to specified third-party provider for transaction processing. It is created automatically for the definite currency when fee for provider operation is configured in any contract.</td> </tr> <tr> <td><code>debt_gate_settlement</code></td> <td>Provider</td> <td>Account to account money that the system paid to provider because provider fee is greater than fee deducted from the client. Such operation is possible if debtAllowed=true for the provider. This account allows negative balance. It is created automatically for the definite currency when fee for provider operation is configured in any contract.</td> </tr> <tr> <td><code>debt_gate_commission</code></td> <td>Provider</td> <td>Account to account provider fee that is not covered by fee deducted from the client, because provider fee is greater than fee deducted from the client. Such operation is possible if debtAllowed=true for the provider. It is created automatically for the definite currency when fee for provider operation is configured in any contract.</td> </tr> <tr> <td><code>technical_transit</code></td> <td>System</td> <td>Transit account for money movement consistency. When the operation is completed the balance of this account must be 0. It is created automatically for each operation.</td> </tr> <tr> <td><code>technical_transit</code></td> <td>Provider</td> <td>Transit account for money movement consistency for external operations. When the operation is completed the balance of this account must be 0. It is created automatically for each external operation.</td> </tr> <tr> <td><code>system_commission</code></td> <td>System</td> <td>Account for accounting of fees earned by the system. It is created automatically for the definite currency when fee is configured in any contract.</td> </tr> <tr> <td><code>issuing_balance</code></td> <td>System</td> <td>Account for money issued in the system (shows circulation money volume). It is created automatically for the definite currency when fee for any operation is configured in any contract.</td> </tr> </tbody> </table>
  - name: Webhook event
    description: >-
      This API set enables the management of webhook events. <br>Webhook events are used to notify external systems about significant occurrences within the platform.
  - name: Withdrawal via bank
    description: >-
      Withdrawal via bank can be used when it is required to perform bank transfer by the provided account details on the bank side along with withdrawal money from the account. <br>It can be used for cash withdrawal from the account as well, as this operation can also be considered a bank transfer from the electronic money account to the cash-to-withdraw. <br>Exact accounting on the bank side depends on the business model. <br><br>SDK.finance platform provides the following possible options to perform withdrawal via bank: <ul> <li><b>Without confirmation</b> — performed by service user with the appropriate permission. Can be used, for example, when customer initiates withdrawal in the bank branch and it is not necessary to initiate and approve this operation in the platform</li> <li><b>With confirmation</b> — when customer initiates request in the application and it should be confirmed by accountant.</li> </ul> <br><br>Withdrawal via bank success flow with confirmation: <ul> <li>The business user initiates <b>withdrawal via bank</b> request and provides destination bank account details. When the request is initiated, money is held on the user account.</li> <li>The service user with the appropriate permission (Accountant) reviews the initiated request and approves or declines it.</li> <li>When the request is approved, money is withdrawn from user account and bank transfer should be performed manually on the bank side or via integration with the bank (integration should be developed).</li> </ul> <br><br>To be able to perform withdrawal via bank: <ul> <li>Bank should be added to the system using API <code>POST /bank-catalog</code></li> <li>Operation <b>withdrawal via bank</b> should be activated in the fees on UI or using APIs from the <b>Contract management - fee profiles</b></li> <li>Bank account should be created and linked to the account on UI or using <b>Bank accounts management</b> APIs.</li> </ul>
  - name: Withdrawal via cash desk
    description: >-
      Withdrawal via cash desk can be used when it is required to provide cash to customer and reflect the operation of withdrawal on both, the user and the cash desk account. <br>This operation is possible only if there is enough money on the cash desk account as well as on the user account. <br>When the operation is performed, money is withdrawn from both, the cash desk and the user accounts. <br><br>Withdrawal via cash desk involves the following parties: <ul> <li>User with business role who initiates withdrawal by creating request</li> <li>User with service role (Accountant) who approves or declines the created request</li> <li>User with service role (Cashier) who accepts the approved by accountant request and gives cash to the user</li> </ul> <br><br>Possible flow for withdrawal via cash desk: <li>The business user chooses the required cash desk where to receive cash  <li>Fee for withdrawal via cash desk is shown to the user <li>The user checks the fee and creates withdrawal request <li>The service user with the appropriate permission, e.g. Accountant, approves or decline the withdrawal request <li>The service user with the appropriate permission, e.g. Cashier, accepts the approved withdrawal request and gives money to the business user <br><br>Withdrawal via cash desk can have the following statuses (`requestStatus`):  <li>`pending` - when it is  initiated by business user <li>`approved_by_accountant` - when it is approved by the accountant <li>`declined` - when it is declined by accountant <li>`processed` - when it is accepted by cashier.
  - name: Cash desk - cash collect management
  - name: Cash desk - cash inputs management
  - name: Cash desk - cash investments management
paths:
  /v1/qr-codes:
    post:
      tags:
        - QR code generation
      summary: Generate QR code
      security:
        - BearerAuth: []
      description: >
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to generate QR code from provided URL. The API returns QR code as PNG image in byte array format. </div>

      operationId: generateQRCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QRCodeGenerationReq'
        required: true
      responses:
        '200':
          description: QR code generated successfully
          content:
            "image/png":
              schema:
                type: string
                format: byte
                description: QR code image in PNG format as byte array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
      deprecated: false
  /v1/asset-balance/view:
    post:
      tags:
        - Reconciliation - balances reconciliation
      summary: View the list of currency balances
      security:
        - BearerAuth: []
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to get the list of currency balances and collected fees for the last closed operation day. </div>
      operationId: viewAssetBalances
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetBalanceFilterReq'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetBalanceResp'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
  /v1/totp:
    post:
      tags:
        - Two-factor authentication - TOTP management
      summary: Complete two-factor authentication setup by first TOTP verification
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to complete two-factor authentication setup by first TOTP verification. <br>Pass valid TOTP code in request body. </div>
      operationId: completeTotpSetup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TotpSetupReq'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotpSetupResp'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
  /v1/authorization:
    post:
      tags:
        - Authorization
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to get an access and refresh token. If dual authentication is not enabled for the specified user, you will receive the token along with other user parameters in the response. <br>Provide the received access token as a Bearer token to authenticate other APIs. <br>Pass the received refresh token in the request body in the API <code>PUT /authorization</code> to refresh the access token. <br><br>The following service roles and credentials can be used: <ul> <li>Administrator: <code>administrator@sdkfinance.tech</code></li> <li>Accountant: <code>accountant@sdkfinance.tech</code></li> <li>AML Specialist: <code>aml_specialist@sdkfinance.tech</code></li> <li>CEO: <code>ceo@sdkfinance.tech</code></li> <li>Compliance manager: <code>kyc_specialist@sdkfinance.tech</code></li> <li>CRO: <code>cro@sdkfinance.tech</code></li> <li>Customer success specialist: <code>customer_success_specialist@sdkfinance.tech</code></li> <li>Financial specialist: <code>financial_specialist@sdkfinance.tech</code></li> <li>KYC specialist: <code>kyc_specialist@sdkfinance.tech</code></li> <li>Role administrator: <code>role_administrator@sdkfinance.tech</code></li> </ul> <br>The following business roles and credentials can be used: <ul> <li>Individual: <code>individual@sdkfinance.tech</code></li> <li>Merchant: <code>merchant@sdkfinance.tech</code></li> </ul> <br>The sample password for all mentioned users is <code>1</code>. <br>If dual authentication is enabled for the specified user, an OTP will be sent to the provided credentials. In this case, the <code>maskedPhoneNumber</code> to which the OTP was sent is returned in the response. <br>The received OTP should be provided in the API <code>POST /authorization/confirm</code> to get the token. </div>
      summary: Get access token to authenticate other APIs for users without enabled dual authentication
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationReq'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResp'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
    put:
      tags:
        - Authorization
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to refresh an access token. The refreshed token allows users to continue authenticating other APIs without needing to log in again. <br>Provide the refresh token in the request body. <br>Upon successful refresh, the API returns a new access token along with its expiration time. </div>
      summary: Refresh access token
      operationId: refresh
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: The refresh token provided during the initial authorization response.
              required:
                - refreshToken
        required: true
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResp'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
    delete:
      tags:
        - Authorization
      summary: Delete access token
      security:
        - BearerAuth: []
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to delete the access token and log out from the system. <br>A successful operation returns a <code>204 No Content</code> status, indicating that the token has been successfully deleted. <br>No special permission is required to call this API. However, if the user does not have a valid access token, a <code>403 Forbidden</code> response will be returned. </div>
      operationId: logout
      responses:
        '204':
          description: No content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
      deprecated: false
  /v1/authorization/confirm:
    post:
      tags:
        - Authorization
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to pass the received OTP and get an access token. You will receive the token along with other user parameters in the response. <br>Provide the received token as a Bearer token to authenticate other APIs. </div>
      summary: Pass the received OTP and get access token to authenticate other APIs for users with enabled dual authentication
      operationId: loginConfirmByOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateOtpReq'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResp'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
  /v1/authorization/totp:
    post:
      tags:
        - Authorization
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to pass generated TOTP and get an access token. You will receive the token along with other user parameters in the response. <br>Provide the received token as a Bearer token to authenticate other APIs. </div>
      summary: Pass the generated TOTP and get access token to authenticate other APIs for users with enabled two-factor authentication
      operationId: loginWithTotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateTotpReq'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResp'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
  /v1/authorization/resend-otp:
    post:
      tags:
        - Authorization
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to resend OTP for authorization if it was not received or if it has expired.  <br>OTP will be sent to the provided credentials if a user with the provided credentials exists in the system.  <br>The received OTP should be passed in the API <code>POST /authorization/confirm</code> to get the access token. <br>In case the OTP cannot be resent because the timeout period for resend has not yet expired, the following error is returned:  <br><b>The confirmation code is not yet available for resend. Try again in N seconds</b>. </div>
      summary: Resend OTP for authorization
      operationId: resendOtpForLoginConfirmation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendConfirmationReq'
        required: true
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
  /v1/user/{userId}/token:
    delete:
      tags:
        - Token management
      description: >-
        <div style="font-family: inherit; font-size: inherit;"> <br>Use this API to invalidate user access tokens. </div>
      summary: Invalidate all particular user tokens
      operationId: invalidateAllUserTokens
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ParameterString'
          description: Internal user ID. Can be taken from `id` in the response of the API `POST /users/view`.
          example: "ac7aee4f-633e-4073-865f-9deacc314981"
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
  /v1/available-ip:
    post:
      tags:
        - Available IP
      summary: Add IP to the white list for the specified role
      security:
        - BearerAuth: []
      description: >-
        <br>Use this API to add IP to the white list for the specified role. <br>Pass IP and role in the request body.  <br>List of existing roles can be taken from the response of API `GET /role-groups`. <br>In the response, you will receive the updated white list of IPs for this role with their IDs.
      operationId: addAvailableIp
      requestBody:
        description: Request to add available IP
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAllowedIPReq'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedIPResp'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      deprecated: false
  '/v1/available-ip/roles/{role}':
    get:
      tags:
        - Available IP
      summary: Get the list of white-listed IPs for the specified role
      security:
        - BearerAuth: []
      description: >-
        <br>Use this API to get the list of white-listed IPs for the specified role <br>Pass the required role in the request URL <br>List of existing roles can be taken from the response of API `GET /role-groups`. <br>In the response, you will receive the white list of IPs for this role with their IDs.
      operationId: getAvailableIpByRole
      parameters:
        - name: role
          in: path
          description: Role to get the list of white-listed IPs
          example: "kyc_specialist"
          required: true
          schema:
            $ref: '#/components/schemas/ParameterString'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedIPResp'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
[...]
